<h1>
    order pizza
</h1>
<h2><pre>{{notes}}</pre>
</h2>


{% if  created_form_id%}
    <a href="{% url 'edit_order' pk=created_form_id %} ">Edit your Pizza order</a>
{% endif %}
    

<form enctype="multipart/form-data" action=" {% url 'order' %} " method="post">
    {% csrf_token %}
    <table>
    {{ Pizzaform.as_table }}

    </table>
    <!-- {{ Pizzaform.as_p }} -->
    <input type="submit" value="Order Pizza">
    <input type="reset">
</form>

<a href=" {% url 'Home' %} "> Back to home page</a>

<br><br>
whant more than one pizza?
 
<form action=" {% url 'pizzas' %} " method="post">
    {% csrf_token %}
    {{multiple_form.as_p}}
    <input type="submit" value="Get pizzas">
</form>