{% extends 'pizza/base.html' %}

{% block content %}
{% load widget_tweaks %}
<div>
    <h1>
        Granny Pizza Shope
    </h1>
    <h2>
        <pre>{{notes}}</pre>
    </h2>
    
    
    {% if  created_form_id%}
        <a href="{% url 'edit_order' pk=created_form_id %} ">Edit your Pizza order</a>
    {% endif %}
        
    
    <form enctype="multipart/form-data" action=" {% url 'order' %} " method="post">
        {% csrf_token %}
        <!-- <ol>
            {{ Pizzaform.as_ul }}
        </ol> -->
        <!-- <ul>
            {{ Pizzaform.as_ul }}
        </ul> -->
        <!-- <table>
        {{ Pizzaform.as_table }}
        </table> -->
        <!-- {{ Pizzaform.as_p }} -->

        
        {% for field in Pizzaform %}
            <div class = 'form-group'>
                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            </div>
        {% endfor %}
            
        <input type="submit" value="Order Pizza">
        <input type="reset">
    </form>
    
    
    <br><br>
    whant more than one pizza?
    
    <form action=" {% url 'pizzas' %} " method="post">
        {% csrf_token %}
        {{multiple_form.as_p}}
        <input type="submit" value="Get pizzas">
    </form>
</div>
    

{% endblock content %}
    
    